{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Déconnexion" %}</h2>

<p>{% trans "Merci pour le temps que vous avez accordé à ce site aujourd'hui." %}</p>
<p>
<a href="/">{% trans "Retourner à la page principale" %}</a>
</p>
{% endblock %}
