{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h2>{% trans "Connexion" %}</h2>
  <div id="advises">
    <h3>{% trans "Notes importantes" %}</h3>
    <p>
      {% blocktrans %}
        Cette page permet de se connecter à l'agenda libre. Si vous n'avez pas de
        compte, vous pourrez tout de même poster des événements mais vous ne pourrez
        pas les regrouper.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        En vous connectant à l'agenda du libre vous pourrez modifier et consulter vos événements passés et
        ainsi prendre part en tant qu'organisation à l'annonce d'événements. De
        plus vous pourrez éventuellement gérer les récurrences.
      {% endblocktrans %}
    </p>
  </div>
  {% if form.errors %}
    <p>{% trans "Votre nom d'usager et votre mot passe ne correspondent pas. Veuillez essayer à nouveau." %}</p>
  {% endif %}

  <form method="post" action="/login/">
    {% csrf_token %}
    <table class="form" with="100%" style="width: 100%;">
      <tr>
        <th>{{ form.username.label_tag }}</th>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <th>{{ form.password.label_tag }}</th>
        <td>{{ form.password }}</td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input type="submit" value="{% trans 'Se connecter' %}" />
          <input type="hidden" name="next" value="/" />
        </td>
      </tr>
    </table>
  </form>

{% endblock %}
