{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{% trans "Événement soumi" %}</h2>
<p>
  <b>{% trans "Votre événement a bien été ajouté à la liste des événements en attente de modération. Il apparaîtra en ligne dès qu'un modérateur l'aura validé." %}</b>
</p>
<p>
  <a href="/">{% trans "Retour à l'Agenda" %}</a>
</p>
{% endblock %}
