{% extends "base.html" %}

{% load i18n %}

{% block before_end_body %}
  <script  type="text/javascript" src="/media/tiny_mce/tiny_mce.js"></script>
  <script  type="text/javascript" src="/media/js/event_new.js"></script>
{% endblock %}

{% block content %}
  <h2>{% trans "Proposer un événement" %}</h2>
  <p>
    {% blocktrans %}
      Cette page permet de soumettre un événement dans l'Agenda du libre du Québec.
      Celui-ci n'apparaîtra pas automatiquement dans l'Agenda,
      il sera tout d'abord validé par un modérateur.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      Pour plus d'informations et quelques conseils pour avoir une publication de meilleurs
      qualité, veuillez consulter la page de <a href="/event/help">conseils</a>.
    {% endblocktrans %}
  </p>

<h3>{% trans "Informations sur l'événement" %}</h3>

<form method="POST">
  <table class="form">
    {% for field in form %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>{{ field }}</td>
        <td class="help">{{ field.errors }}{% autoescape off %}{{ field.help_text }}{% endautoescape %}</td>
      </tr>
    {% endfor %}
    <tr>
      <th></th>
      <td>
        <input type="submit" value="{% trans "Envoyer" %}" />
      </td>
      <td></td>
    </tr>
  </table>
</form>
{% endblock %}
